@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

.hero {
  max-width: 920px;
  margin: 0 auto;
}

.pointer li {
  cursor: pointer;
}

html {
  border: 2px solid red;
}

.red-b {
  border: 2px solid red;
}

.my-list {
  gap: 20px;
}

ul {
  list-style: none;
}

.m-flex {
  display: flex;
}

#about {
  background-color: #fff;
  border-top-right-radius: 25% 100px;
}

#contact {
  border-top-left-radius: 25% 50px;
}

.bg-figma1 {
  background-color: #e5e5e5;
}
